// COLORS
$color-primary: #19273a;
$color-primary-light: #263d5c;
$color-primary-dark: #111b29;

$color-secondary-light: #ffc842;
$color-secondary-dark: #806422;

// $color-tertiary-light: #
// $color-tertiary-dark: #

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #cacaca;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-red: #dc3545;

// FONT
$default-font-size: 1.6rem;
